body {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: blue
}
h1{
    color: black;
    font-size: 12px;
}

p{
    color: green;
    text-transform: capitalize;
    border-color: bisque;
}

/*Class Selector*/
.r6 {
    text-decoration: underline;
}
.r4 {
    text-decoration: underline;
    text-decoration-color: black;
}
.r7 {
    font-style: italic;
}

.r8 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
}
/*Class Selector*/
#huruf-besar{
    text-transform: uppercase;
    border: 2px solid;

}
